@model CRUD_TRABAJO.Models.Producto

<h2>Eliminar Producto</h2>

<p>¿Seguro que desea eliminar este producto?</p>

<div><strong>Nombre:</strong> @Model.Nombre</div>
<div><strong>Precio:</strong> @Model.Precio</div>

<form asp-action="Eliminar">

 <input type="hidden" asp-for="ProductoId" />

 <button class="btn btn-danger">Eliminar</button>
 <a asp-action="Index" class="btn btn-secondary">Cancelar</a>

</form>
