@model IEnumerable<CRUD_TRABAJO.Models.Producto>

<h2>Listado de Productos</h2>

<p>
 <a asp-action="Crear" class="btn btn-primary">Crear Producto</a>
</p>

<table class="table table-bordered">
 <thead>
  <tr>
   <th>Nombre</th>
   <th>Precio</th>
   <th></th>
  </tr>
 </thead>
 <tbody>
  @foreach (var p in Model)
  {
   <tr>
    <td>@p.Nombre</td>
    <td>@p.Precio</td>
    <td>
     <a asp-action="Editar" asp-route-id="@p.ProductoId" class="btn btn-warning">Editar</a>
     <a asp-action="Eliminar" asp-route-id="@p.ProductoId" class="btn btn-danger">Eliminar</a>
    </td>
   </tr>
  }
 </tbody>
</table>
